@model IEnumerable<BookShopp.Domain.Entities.Course>

@{
    ViewData["Title"] = "Course";
}


<div class="container">
    <h2 class="text-center mb-4 text-black">Course List</h2>

    <div class="row g-4 ">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="card custom-card-book">
                    <img src="@item.Image" class="card-img-top img" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Name @item.Mentor
                        </h5>
                        <p class="card-text"><strong>Price:</strong> @item.Price</p>
                        <p class="card-text"><strong>Required Skills:</strong> @item.Required_Skills</p>
                        <p class="card-text"><strong>Duration:</strong> @item.Duration</p>
                        
                        <a asp-action="Edit" asp-controller="Course" asp-route-id="@item.Id" class="btn1">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


<style>
    body {
        background: #F3FEB8;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn1 {
        background: linear-gradient(to right, #ff4e50, #fc913a);
        color: white;
        border: none;
        padding: 10px 32px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
        text-decoration: none;
        margin-top: 10px;
    }

        .btn1:hover {
            transform: scale(1.05);
            color: black;
        }

    .custom-card-book {
        background: linear-gradient(135deg, #FFC107, #FFD700, #FFEA70, #FFFACD);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border-radius: 20px;
        display: flex;
        align-items: center;
        height: 620px;
    }

    .custom-card-user:hover {
        transform: scale(1.07);
        box-shadow: 0px 15px 30px rgba(30, 144, 255, 0.3);
    }

    .img {
        border-radius: 20px;
        width: 100%;
        height: 380px;
        object-fit: cover;
    }
</style>

